@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

body {
  background-color: $body-bg;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px $width-desktop;
  background: $gradient-bg;
  margin-bottom: -1px;
  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  &__logo-name {
    font-family: Dosis-Bold, sans-serif;
    font-size: 36px;
    color: $text-light;
    margin: 4px 0 0 4px;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
  }
  &__nav-item {
    list-style-type: none;
    padding: 0 30px;
  }
  &__nav-link {
    text-decoration: none;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: $text-light;
    transition: color 0.5s;
    &:hover {
      color: $text-dark;
      transition: color 0.3s;
    }
  }
  &__action-btn {
    @include btn-standard;
    padding: 10px 30px;
    border: 5px solid transparent;
    transition: border, box-shadow 0.2s;
      &:hover {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
        border: solid 5px rgba(0, 0, 0, 0.1);
      }
  }
}

.banner {
  padding: 106px $width-desktop 216px;
  background-image: url("../img/iPhones.png"), $gradient-bg;
  background-repeat: no-repeat;
  background-position: 100% 62%;
  &__heading {
    font-family: Dosis-SemiBold, sans-serif;
    font-size: 54px;
    margin-left: 5px;
    line-height: 62px;
    color: $text-light;
    width: $banner-text-width;
  }
  &__content {
    width: $banner-text-width;
  }
  &__text {
    font-family: Roboto-Light, sans-serif;
    font-size: 14px;
    color: $text-light;
    line-height: 24px;
    margin-top: 20px;
  }
  &__list {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: $text-light;
    margin-top: 10px;
    margin-left: 26px;
    margin-bottom: 24px;
  }
  &__list-item {
    position: relative;
    line-height: 34px;
    list-style-type: none;
    padding-left: 13px;
    &::before {
      position: absolute;
      left: -20px;
      font-family: "FontAwesome";
      content: "\f058";
      margin-right: 10px;
    }
  }
  &__btn {
    @include btn-standard;
    padding: 12px 40px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    border: solid 5px rgba(0, 0, 0, 0.1);
    &:hover {
      border-color: rgba(0, 0, 0, 0.2);;
    }
  }
}

.features {
  margin: 115px $width-desktop 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  border-bottom: 1px solid $light-border;
  &__item {
    display: flex;
    margin-bottom: 42px;
    margin-right: 20px;
    align-items: center;
    margin-left: 30px;
  }
  &__icon {
    color: $icon-color;
    font-size: 25px !important;
    position: relative;
    margin-right: 50px;
    &:after {
      position: absolute;
      content: '';
      width: 73px;
      height: 73px;
      bottom: -24px;
      right: -24px;
      border: 1px solid $light-border;
      border-radius: 50%;
    }
    &.fa-cog {
      padding: 0 2px;
    }
    &.fa-file-text {
      padding: 0 2px;
    }
    &.fa-fire-extinguisher {
      padding: 0 2px;
    }
  }
  &__heading {
    font-family: Dosis-Medium, sans-serif;
    font-size: 24px;
    color: $text-dark;
    margin-bottom: 16px;
  }
  &__text {
    font-family: Roboto-Light, sans-serif;
    font-size: 14px;
    color: $text-prg;
    line-height: 25px;
  }
}

