//bg
$body-bg: #ffffff;
$btn-bg: #ffffff;
$gradient-bg: linear-gradient(to right, #fd712c, #f21780);

//width
$width-desktop: 20%;
$banner-text-width: 45%;

//text
$text-light: #ffffff;
$text-dark: #222222;

