//bg
$body-bg: #ffffff;
$btn-bg: #ffffff;
$gradient-bg: linear-gradient(to right, #fd712c, #f21780);
$section-bg: #f7fafc;

//colours
$icon-color: #f31f79;
$light-border: #eeeeee;

//shadow
$btn-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);

//width
$width-desktop: 20%;
$banner-text-width: 45%;

//text
$text-light: #ffffff;
$text-dark: #222222;
$text-prg: #777777;
$text-dark-gray20: #333333;

